<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>This has to do with the alert and error</p>
                <hr>
                <p class="mb-0">Please click <a href="/campgrounds">here </a> to return home.</p>
            </div>
        </div>
    </div>