<% layout('layouts/boilerplate') %>


    <h1>New User Registration</h1>

    <form action="/register" method="POST" class="validatedForm" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <button class="btn btn-success">Register</button>
    </form>